body{
    background-color: rgb(5, 239, 239);
    background-image: url(Avengers.jpg);
    background-image: url(image.jpg);
    background-repeat: url(image.jpg);
}
form{
  font-weight: bold;
    color: rgb(6, 14, 243);
    width: 60%;
    margin-left: 25%;
    margin-top: px;

}

 input, textarea {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  ::placeholder{
    font-weight: bold;
  }
  label{
    margin-right: 100px;
  }
  input[type=radio]
  {
    margin-right: 10px;
    width: 100;
  }
  input[type=reset]{
    margin-right: 50px;
    width: 100px;
  }
  input[type=submit]{
    width: 100px;
  }
  legend{
    text-align: center;
    text-size-adjust: bold;
  }
img{
  margin-left: 40%;
  border-radius: 50%;
}
select{
  margin-right: 50px;
}